
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:  Roboto;
}

.Header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}

.logo {
    margin-left: 150px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
    margin: 0;
    margin-right: 150px;
}

.Sign-up {
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.Website-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.awesome {
    font-weight: bold;
    font-size: 48px;
    margin-right: 40px;
    overflow-wrap: break-word;
    width: 60%;
}

.Website-info .text {
    width: 300px;
    margin-right: 90px;
    padding: 10px;
}

.Website-info button {
    margin-right: 330px;
    background-color: #3882F8;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px;
}

#orange-cat {
    width: 150px;
    height: auto;
}

.Products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 140px;
}

.product-title {
    display: flex;
    padding: 20px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.four-products {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.supra,
.skyline,
.workout,
.stung {
    height: auto;
    width: 200px;
    padding: 10px;
}

.Quote .container {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    background-color: #e5e7eb;
}

.Quote .text {
    width: 900px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.Quote .thor {
    font-size: 26px;
    margin-top: 10px;
    margin-left: 500px;
    font-style: bold;
    color: #1F2937;
}

